.grid {
    border: 10px solid rgb(89, 0, 255);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50vh 50vh;
  }

  .item {
    border: 8px solid rgb(255, 0, 187);
  }

  h1 {
    color: blueviolet;
  }
  h1 {
    font-family: wide latin;
  }
